@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Playfair+Display:ital,wght@0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital@1&family=Playfair+Display:ital,wght@0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    /*pour aligner les links en haut*/
    flex-wrap: wrap;
    /*pour une format mobile*/
    justify-content: center;
    /*pour etre au centre*/
    border-bottom: 5px solid #6f6f6f;
    align-items: center;
}

nav .onglets {
    margin-left: 400px;
}

nav .onglets a {
    text-decoration: none;
    color: #717171;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('images/nasa.jpg');
    background-size: cover;
    color: #fff;
    padding: 189px;
}

header h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}

header h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    margin-top: -20px;
}

section {
    display: grid;
    grid-template-rows: repeat(3, 50%);
    gap: 10px;
}

article {
    background-color: darkgrey;
}

footer {
    background-color: black;
    padding: 0px;
    margin: 0px;
    color: white;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#copy {
    background-color: rgb(63, 60, 60);
    text-align: center;
    padding: 3px;
}

.col-md-2 {
    margin: 40px;
    text-align: center;
    box-shadow: 0px 2px 5px 2px grey;
    padding: 50px;
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 5px;
    /*font-style: initial;*/
    font-family: 'Bebas Neue', sans-serif;
}

.col-md-11 .picture {
    margin-bottom: 30px;
}

.container h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.col-md-5 {
    margin: 40px;
    text-align: center;
    box-shadow: 0px 2px 5px 2px grey;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    /*font-style: initial;*/
    font-family: 'Bebas Neue', sans-serif;
}

.col-md-11 {
    margin: 40px;
    text-align: center;
    box-shadow: 0px 2px 5px 2px white;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    /*font-style: initial;*/
    font-family: 'Bebas Neue', sans-serif;
}

.col-md-2 img {
    margin-bottom: 20px;
}

.col-md-5 img {
    margin-bottom: 20px;
}

.h_title {
    color: darkcyan;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 1%;
}

* {
    box-sizing: border-box;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 10px;
    float: left;
    width: 25%;
}
.alignRow{
    margin-top: 0px;
    padding-top: 0px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}